name: Rust CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    name: Build, Test & Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install libheif build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake make g++ pkg-config libde265-dev libx265-dev

      - name: Build, install, and configure libheif v1.17.6 from source
        run: |
          git clone https://github.com/strukturag/libheif.git
          cd libheif
          git checkout v1.17.6
          mkdir build
          cd build
          cmake ..
          make
          sudo make install
          sudo ldconfig
          echo "PKG_CONFIG_PATH=/usr/local/lib/pkgconfig" >> $GITHUB_ENV

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2

      - name: Check Formatting
        run: cargo fmt -- --check

      - name: Run Clippy
        run: cargo clippy -- -D warnings

      - name: Run Tests
        run: cargo test

      - name: Build Release
        run: cargo build --release